*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Aboreto', cursive;
    font-size: large;
    text-align: center;   
    background-color: rgba(243, 234, 227, 0.521);
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}



.titulo{
    color:   rgb(90, 116, 112);
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 45px;
}

.titulo1-2{
    color:   rgb(90, 116, 112);
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 100px;
}

.titulo2{
    color:  rgb(207, 145, 104);
    font-size: 40px;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 0px;
}

.titulo3{
    color:   rgb(207, 145, 104);
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.titulo4{
    color:  rgb(207, 145, 104);
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.direccion-1-1{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    margin-top: 30px;
    color:  rgb(99, 131, 121);
}

.direccion-1-2{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin-top: 30px;
    color:  rgb(99, 131, 121);
}

.direccion-2-1{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    margin-top: 30px;
    color: rgb(99, 131, 121);
}

.direccion-2-2{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin-top: 30px;
    color: rgb(99, 131, 121);
}

.description{
    background-color: rgba(243, 234, 227, 0.521);
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #517c75b7, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.Ceremonia-Religiosa{
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;  
    margin: 0;
    margin-top: 0px;
    border-image-width: 400px; 
    background-color: rgba(243, 234, 227, 0.521);
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #517c75b7, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.imagen-religiosa{
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100%;
    display: block;
    /*max-width: 90%;*/
}

.imagen-civil{
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100%;
    display: block;

    /*margin: auto;
    width: 50%;
    height: 50%;
    */
}

.imagen-vestimenta{
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100%;
    display: block;


    /*margin: auto;
    width: 40%;
    height: 40%;*/
}

.imagen-texto-familia{
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100%;
    display: block;
    
    
    /*margin: auto;
    width: 50%;
    height: 50%;*/
}

.Ceremonia-Civil{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;  
    background-color: rgba(243, 234, 227, 0.521);
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-image-width: 400px; 
    color:   rgb(136, 177, 164);
    background-color: rgba(243, 234, 227, 0.521);
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #517c75b7, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Codigo-de-vestimenta{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;  
    background-color: rgba(182, 150, 129, 0.521);
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f1e0c8e5, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: rgba(243, 234, 227, 0.521);
}

.Itinerario{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px; 
    background-color: rgba(243, 234, 227, 0.521);
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f1e0c8e5, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.imagen-about-us{
    margin: auto;
    width: 100%;
    height: auto;
}

.imagen-itinerario{
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100%;
    display: block;


    /*margin: auto;
    width: 50%;
    height: auto;*/
}

.asistencia-banco{
    font-size: 17px;
    font-family: 'Aboreto', cursive;
    text-align: center;
    color:  rgb(207, 145, 104);
    border-image-width: 400px; 
    padding-bottom: 70px; 
    padding-top: 50px; 
    background-color: rgba(243, 234, 227, 0.521);
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e6d1b5e5, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.datos-ramon{
    padding-bottom: 40px; 
    padding-top: 10px; 
}

.datos-anakaren{
    padding-bottom: 40px; 
    padding-top: 0px; 
}

.button{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(136, 177, 164);
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    border:none;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
}


.button2{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(136, 177, 164);
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    border:none;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
}

.button3{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(207, 145, 104);
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    border:none;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
}


@media (max-width: 767px){
    .titulo{
        color:   rgb(99, 131, 121);
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
        padding-top: 45px;
    }

    .titulo1-2{
        color:   rgb(90, 116, 112);
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
        padding-top: 100px;
    }

    .titulo2{
        color:  rgb(207, 145, 104);
        font-size: 20px;
        text-align: center;
        padding-top: 60px;
        margin-bottom: 0px;
    }
    
    .titulo3{
        color:   rgb(207, 145, 104);
        font-size: 20px;
        text-align: center;
        margin-bottom: 60px;
    }
    
    .titulo4{
        color:  rgb(207, 145, 104);
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .direccion-1-1{
        font-family: 'Quicksand', sans-serif;
        font-size: 17px;
        margin-top: 30px;
        color:  rgb(99, 131, 121);
    }
    
    .direccion-1-2{
        font-family: 'Quicksand', sans-serif;
        font-size: 13px;
        margin-top: 30px;
        color:  rgb(99, 131, 121);
    }
    
    .direccion-2-1{
        font-family: 'Quicksand', sans-serif;
        font-size: 17px;
        margin-top: 30px;
        color: rgb(99, 131, 121);
    }
    
    .direccion-2-2{
        font-family: 'Quicksand', sans-serif;
        font-size: 13px;
        margin-top: 30px;
        color: rgb(99, 131, 121);
    }

    .button{
        font-family: 'Quicksand', sans-serif;
        font-size: 13px;
        color: rgb(255, 255, 255);
        background-color: rgb(136, 177, 164);
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0px;
        border:none;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:40px;
        padding-right:40px;
        border-color: #ffffff;
        border-width: 1px;
        border-style: solid;
        border-radius:35px;
    }
        
    .button2{
        font-family: 'Quicksand', sans-serif;
        font-size: 13px;
        color: rgb(255, 255, 255);
        background-color: rgb(136, 177, 164);
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 60px;
        border:none;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:40px;
        padding-right:40px;
        border-color: #ffffff;
        border-width: 1px;
        border-style: solid;
        border-radius:35px;
    }
    
    .button3{
        font-family: 'Quicksand', sans-serif;
        font-size: 13px;
        color: rgb(255, 255, 255);
        background-color: rgb(207, 145, 104);
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 50px;
        border:none;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:40px;
        padding-right:40px;
        border-color: #ffffff;
        border-width: 1px;
        border-style: solid;
        border-radius:35px;
    }


    .asistencia-banco{
        font-size: 12px;
    }
    

    .imagen-itinerario{
        margin: auto;
        padding-left: 0%;
        padding-right: 0%;
        max-width: 100%;
        display: block;
    }

    .imagen-vestimenta{
        margin: auto;
        padding-left: 0%;
        padding-right: 0%;
        max-width: 100%;
        display: block;
    }
    
    .imagen-texto-familia{
        margin: auto;
        padding-left: 0%;
        padding-right: 0%;
        max-width: 100%;
        display: block;
    }


}
